[core]
    autocrlf = input
    editor = vim
    fileMode = false
    excludesfile = ~/.gitignore_global
[user]
    name = joy2fun
    email = web@css.js.cn
[alias]
    co = checkout
    br = branch
    re = remote
    st = status
    ci = commit
    am = commit --amend --reuse-message=HEAD
    cl = clone --recursive
    last = log -1 HEAD
    unstage = reset HEAD --
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    stoptrack = update-index --assume-unchanged 
[merge]
    tool = fugitive
[mergetool]
    prompt = false
    keepBackup = false
[mergetool "fugitive"]
    cmd = vim -f -c \"Gdiff\" \"$MERGED\"
[url "git@github.com:"]
    insteadOf = "gh:"
    pushInsteadOf = "github:"
    pushInsteadOf = "git://github.com/"
[url "https://git.oschina.net/"]
    insteadOf = "osc//"
[url "git@git.oschina.net:"]
    insteadOf = "osc:"
